<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @schedule.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @schedule.endDate %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @schedule.allDay %>
</p>

<p>
  <strong>Schedulememo:</strong>
  <%= @schedule.scheduleMemo %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
